.banner .swiper {
    width: 200px;
    height: 300px;
}



.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
    background-image: url(../assets/images/img1.jpg);
}

.banner .swiper-slide:nth-child(2n) {
    background-image: url(../assets/images/img2.jpg);
}

.banner .swiper-slide:nth-child(3n) {
    background-image: url(../assets/images/img3.jpg);

}

.banner .swiper-slide:nth-child(4n) {
    background-image: url(../assets/images/img4.jpg);

}

.banner .swiper-slide:nth-child(5n) {
    background-image: url(../assets/images/img5.jpg);

}

.banner .swiper-slide:nth-child(6n) {
    background-image: url(../assets/images/img6.jpg);
}